@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary-color: #473889;
  --secondary-color: #988fbb;
  --current-color: #776fc3;
  --current-text: #c9c4ff;
  --active-btn: #574a97;
  --border-color: #e7ddf2;
  --desc-color: #988fbb;
  --blob-color: #e5f7ff;
  --error-color: #ee6d6d;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
