.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.input {
  height: 50px;
  width: 300px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding-left: 20px;
  transition: ease-in-out 0.15s;
  outline: none;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  background: url(../../images/search.svg) no-repeat scroll 285px;
  background-size: 1.1rem;
}

.input:focus {
  border-color: var(--secondary-color);
}

.input::placeholder {
  font-size: 1.1rem;
  color: var(--primary-color);
  opacity: 1;
  font-weight: 600;
}

.cart {
  color: var(--primary-color);
  font-size: 1.6rem;
  cursor: pointer;
}
