.slick-list {
  overflow: visible;
}

.slick-slide {
  transform: scale(0.9);
  transition: 0.2s;
  transition-delay: 0.05s;
}

.slick-current {
  transform: scale(1);
}

.slick-current div div div {
  background-color: var(--current-color);
  color: #fff;
}

.slick-current div div div div {
  background-color: var(--active-btn);
}

.slick-current div div div p:first-of-type {
  color: var(--current-text);
}

.slick-arrow {
  background-color: transparent;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: -85px;
  transition: 0.2s;
}

.slick-arrow svg {
  color: var(--desc-color);
}

.slick-arrow:hover {
  background-color: #fff;
  border-color: var(--border-color);
}

.slick-arrow:hover svg {
  color: var(--active-btn);
}

.slick-prev {
  right: 300px;
}

.slick-next {
  right: 245px;
}
